# Environment Configuration
.env

# Build output folders
lib/
dist/
docs/

# Logs
logs
*.log
.cache
.rpt2_cache

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# IntelliJ IDE ignore
.idea

# Visual Studio Code
.vscode
.history

# OSX Files
.DS_Store

.storybook-static/
schema.graphql
